<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AGRUME - Nouveau Campus</title>
</head>
<body>

<h1>Ajouter / Modifier un Campus</h1>

<form th:action="@{/campus/save}" th:object="${campus}" method="post">

    <label>Nom du Campus (ID) :</label>
    <input type="text" th:field="*{nom}" required /> <br/>

    <label>Ville :</label>
    <input type="text" th:field="*{ville}" required /> <br/>

    <button type="submit">Enregistrer</button>
</form>

<a th:href="@{/campus}">Annuler</a>

</body>
</html>